<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="navbar">
      <div class="nav-container">
        <div class="nav-logo">Mediocare</div>

        <nav class="nav-links">
          <a href="/index.html">Home</a>
          <a href="/pages/about.html">About</a>
          <a href="/pages/features.html">Features</a>
          <a href="/pages/retail-solution.html">Retail Solution</a>
          <a href="/pages/pricing.html">Pricing</a>
          <a href="/pages/contact.html">Contact</a>
        </nav>

        <div class="nav-cta">
          <a href="#Login" class="nav-demo-btn">Login</a>
        </div>
      </div>
    </header>
  </body>
</html>
